.container {
    width: 1144px;
    margin: 0 auto;
}

body {
    margin: 0px;
    font-family: 'OpenSans', sans-serif;
}

header {
    background-color: black;
    text-align: center;
    padding: 40px;
    position: sticky;
    top: 0px;
    z-index: 9;
}

* {
    box-sizing: border-box;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    padding: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

.content {
    display: inline;
    font-size: 11px;
    margin: 8px;
    padding: 8px;
    border: 1px solid black;
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #a4aead;
}

.home {
    border: solid black 1px;
    border-radius: 5px;
    padding: 8px;
}

.active:hover {
    border: solid #39a493 1px !important;
}

.home-text {
    color: #39a493;
}

nav {
    padding: 0;
}

.content:hover {
    border: solid #a4aead 1px;
    border-radius: 5px;
}

.col-md-6 {
    width: 50%;
}

.col-md-3 {
    width: 25%;
}

.head-title {
    display: flex;
    justify-content: flex-start;
}

.search {
    border: 1px solid white;
    border-radius: 5px;
    width: 200px;
    display: flex;
    font-size: 11px;
}

#submit {
    background-image: url(img/icon\ \(1\).png);
    width: 30px;
    height: 30px;
    background-size: 46px 43px;
    background-repeat: no-repeat;
    border: none;
    background-position: center;
    background-color: black;
    margin-left: 22px;
}

#search-input {
    background-color: black;
    border: none;
    font-size: 11px;
    margin-left: 5px;
}

.slider {
    height: 666px;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 666px;
}

.welcome {
    color: white;
    padding-top: 224px;
}

.welcome-s {
    font-size: 36px;
}

.welcome-p {
    color: #a6a9b4;
    margin-top: 34px;
    margin-bottom: 45px;
}

.view-more {
    width: 123px;
    height: 43px;
    border-radius: 5px;
    border: solid white 1px;
    font-size: 14px;
    background-color: transparent;
    color: white;
}

.view-more:hover {
    background-color: #39a493;
    color: white;
    border: none;
}

.videotour {
    width: 123px;
    height: 43px;
    border-radius: 5px;
    border: solid white 1px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    margin-left: 13px;
}

.videotour:hover {
    background-color: #39a493;
    color: white;
    border: none;
}

.h1-text {
    border-left: solid #e1e6ea 10px;
    margin: 80px 0 64px;
}

p {
    color: #8d8f92;
}

.social-item {
    background-color: #c8cdd0;
    margin: 1px;
}

.description-list {
    width: 55px;
    height: 55px;
    background-color: #39a493;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modest {
    display: flex;
    flex-direction: row;
}

.modest-s {
    font-size: 36px;
    padding-left: 18px;
}

.modest-social {
    width: 50%;
    margin-right: 25px;
}

.modest-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    width: 50%;
}

.social-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin-top: 58px;
}

.social-description-number {
    list-style: none;
}

.social-description-number-item {
    display: flex;
    flex-direction: row;
}

.text-block {
    display: flex;
    flex-direction: column;
    margin: 12px 20px;
}

.social-description-paragraph {
    width: 330px;
}

.active {
    border: solid #39a493 1px;
    padding: 8px;
    color: #39a493;
    border-radius: 5px;
}

.meet-team {
    font-size: 36px;
    padding-left: 18px;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-description {
    display: flex;
    flex-direction: column;
    background-color: #e1e6ea;
}

.meet-team-s {
    padding: 80px 0;
    padding-bottom: 64px;
}

.social-items {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(50% - 48px);
    left: calc(50% - 72px);
    visibility: hidden;
    cursor: pointer;
}

.team-photo {
    position: relative;
}

.team-photo:hover .social-items {
    visibility: visible;
}

.social-items-element {
    background-color: #4e5a62;
    margin-right: 2px;
}

.linkedin {
    padding: 16px;
    margin: 0;
}

.team-photo:hover .team-description {
    background-color: #4e5a62;
    color: white;
}

.professional-name {
    margin: 20px 50px 5px 20px;
}

.professional-description {
    font-size: 14px;
    margin: 0px 50px 20px 20px;
}

.team-photo:hover .professional-description {
    color: white;
}

.lovely-work-photo {
    position: relative;
    padding-bottom: 20px;
}

.lovely-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lovely-work-section {
    background-color: #4e5a62;
    padding-top: 30px;
}

.lovely-work-description {
    bottom: 20px;
    position: absolute;
    padding: 22px 50px 22px 20px;
    border: none;
    background-color: #292f36;
    visibility: hidden;
    color: white;
    width: 100%;
}

.lovely-work-photo:hover .lovely-work-description {
    visibility: visible;
}

.h1-lovely-work {
    border-left: solid #e1e6ea 10px;
    margin: 86px 0 62px;
    color: white;
}

.lovely-work-photo:hover {
    opacity: 0.5;
}

.lovely-work-element {
    position: absolute;
    bottom: 156px;
    left: 173px;
}

.lovely-work-photo:hover .lovely-work-element {
    visibility: visible;
}

main section {
    padding: 30px 0;
}

ul {
    padding: 0;
}

.show-more {
    border-radius: 5px;
    border: solid white 1px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}

.show-me-more {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.show-more:hover {
    background-color: #39a493;
    color: white;
    border: solid #39a493 1px;
}

.what-we-do-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.what-we-do {
    width: 283px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.what-we-do-s {
    font-size: 16px;
}

.what-we-do-p {
    text-align: center;
}

.what-we-do-img {
    margin: 36px;
}

.features-section {
    background-color: #4e5a62;
}

.features {
    display: flex;
}

.features-s {
    color: white;
    margin-top: 54px;
    display: inline-block;
}

.features-p {
    font-size: 16px;
    color: white;
    margin-top: 32px;
}

.features-img {
    width: 100%;
}

.features-item {
    margin-right: 30px;
}

.features-item:last-child {
    margin-right: 0px;
}

.features-photo:hover {
    opacity: 0.5;
}

.map {
    width: 100%;
}

.stay-touch-p {
    width: 50%;
}

.stay-in-touch-p {
    margin-top: 43px;
}

.stay-in-touch-description {
    margin-top: 60px;
}

footer {
    background-color: #4e5a62;
}

.copyright-p {
    color: white;
    margin: 42px 0px;
}

.copyright-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.copyright-icon {
    width: 48px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-copyright {
    display: flex;
    justify-content: space-between;
}

.nav {
    overflow: scroll;
    margin: 0 20px;
}

.search {
    width: auto;
}

.team {
    justify-content: space-around;
}

.team-photo {
    margin-bottom: 15px;
}