@media only screen and (max-width: 600px) {
    main {
        margin: 0 10px
    }
    .container {
        width: auto;
    }
    header {
        position: relative;
    }
    .header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header .container .col-md-3 {
        width: auto;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .menu li {
        margin: 5px 0;
    }
    .team {
        justify-content: space-around;
    }
    .team-photo {
        margin-bottom: 15px;
    }
    .modest {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modest-list {
        width: auto;
        margin: 15px;
    }
    .modest-social {
        width: auto;
        margin: 15px;
    }
    .social-description-paragraph {
        width: 200px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    main {
        margin: 0 15px
    }
    .container {
        width: auto;
    }
    .modest {
        display: flex;
        flex-direction: column;
    }
    .modest-list {
        width: auto;
        margin: 15px;
    }
    .modest-social {
        width: auto;
        margin: 15px;
    }
}

@media only screen and (min-width: 1201px) {
    .nav {
        overflow: hidden;
    }
}